body{
    padding: 0;
    margin: 0;
    color:black;
}
.home{
    background-image:   url(bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;

}
.con{
    width: 75%;
    margin-inline: auto;
    text-align: center;
    
    
}
h1{
    font-size: 80px;
    font-weight: 700;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin:0;
    padding: 20px;

}

p{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 60px;
    z-index: 100;
    


}
button{
    background-color: #fff;
    padding: 20px 30px;
    font-size: 14px;
    margin-bottom: 10px;
    transition: 0.3s all;
}
button:hover{
    background-color:burlywood;
}
